
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h3 class="section-sub-title"></h3>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5">

                <h3>Order Placed Successfully</h3>

            </div>
        </div>

    </div>



</div>
